{{!-- Onglet Principal : bouton de jet + Moves --}}
<div class="principal-section flexrow">

  {{!-- Colonne gauche : lancer les dés --}}
  <div class="roll-column flexcol">
    <h3 class="section-title">{{localize 'NCO.Roll.RollDice'}}</h3>
    <p class="roll-hint">{{localize 'NCO.Roll.PoolHint'}}</p>
    <button type="button" class="btn-open-roll nco-roll-btn">
      <i class="fas fa-dice"></i>
      {{localize 'NCO.Roll.RollDice'}}
    </button>


  </div>

  {{!-- Colonne droite : Moves --}}
  <div class="moves-list flexcol">
    <div class="items-header flexrow">
      <h3 class="section-title flexrow">
        <span>{{localize 'NCO.Item.Move'}}</span>
        {{#if editable}}
        <a class="item-create" data-type="move" title="{{localize 'NCO.Item.AddMove'}}">
          <i class="fas fa-plus"></i>
        </a>
        {{/if}}
      </h3>
    </div>
    <ul class="items-list">
      {{#each moves as |move|}}
      <li class="item flexrow" data-item-id="{{move._id}}">
        <img src="{{move.img}}" class="item-image" width="24" height="24"/>
        <span class="item-name rollable" data-roll-type="item">{{move.name}}</span>
        {{#if @root.editable}}
        <div class="item-controls flexrow">
          <a class="item-edit" title="{{localize 'NCO.Item.Edit'}}"><i class="fas fa-edit"></i></a>
          <a class="item-delete" title="{{localize 'NCO.Item.Delete'}}"><i class="fas fa-trash"></i></a>
        </div>
        {{/if}}
        <div class="item-description" style="display:none;">
          <p><em>{{move.system.trigger}}</em></p>
          <p>{{move.system.effect}}</p>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>

</div>
