{{!-- Partiels : Équipement, contacts et tags --}}

{{!-- Équipement (Gear) --}}
<div class="items-section">
  <div class="items-header flexrow">
    <h3>{{localize 'NCO.Item.Gear'}}</h3>
    {{#if editable}}
    <a class="item-create" data-type="gear" title="{{localize 'NCO.Item.AddGear'}}">
      <i class="fas fa-plus"></i>
    </a>
    {{/if}}
  </div>
  <ul class="items-list">
    {{#each gear as |item|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <img src="{{item.img}}" class="item-image" width="24" height="24"/>
      <span class="item-name">{{item.name}}</span>
      {{#if item.system.action_dice_bonus}}
      <span class="item-bonus">+{{item.system.action_dice_bonus}} DA</span>
      {{/if}}
      {{#if @root.editable}}
      <div class="item-controls flexrow">
        <a class="item-edit"><i class="fas fa-edit"></i></a>
        <a class="item-delete"><i class="fas fa-trash"></i></a>
      </div>
      {{/if}}
    </li>
    {{else}}
    <li class="item-empty">{{localize 'NCO.Item.EmptyGear'}}</li>
    {{/each}}
  </ul>
</div>

{{!-- Contacts --}}
<div class="items-section">
  <div class="items-header flexrow">
    <h3>{{localize 'NCO.Item.Contact'}}</h3>
    {{#if editable}}
    <a class="item-create" data-type="contact" title="{{localize 'NCO.Item.AddContact'}}">
      <i class="fas fa-plus"></i>
    </a>
    {{/if}}
  </div>
  <ul class="items-list">
    {{#each contacts as |item|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <img src="{{item.img}}" class="item-image" width="24" height="24"/>
      <span class="item-name">{{item.name}}</span>
      <span class="item-detail">{{item.system.expertise}}</span>
      {{#if @root.editable}}
      <div class="item-controls flexrow">
        <a class="item-edit"><i class="fas fa-edit"></i></a>
        <a class="item-delete"><i class="fas fa-trash"></i></a>
      </div>
      {{/if}}
    </li>
    {{else}}
    <li class="item-empty">{{localize 'NCO.Item.EmptyContact'}}</li>
    {{/each}}
  </ul>
</div>

{{!-- Tags --}}
<div class="items-section">
  <div class="items-header flexrow">
    <h3>{{localize 'NCO.Item.Tag'}}</h3>
    {{#if editable}}
    <a class="item-create" data-type="tag" title="{{localize 'NCO.Item.AddTag'}}">
      <i class="fas fa-plus"></i>
    </a>
    {{/if}}
  </div>
  <ul class="items-list tags-list flexrow">
    {{#each tags as |item|}}
    <li class="item tag-item {{item.system.type}}" data-item-id="{{item._id}}">
      <span class="tag-name">{{item.name}}</span>
      {{#if @root.editable}}
      <a class="item-delete"><i class="fas fa-times"></i></a>
      {{/if}}
    </li>
    {{else}}
    <li class="item-empty">{{localize 'NCO.Item.EmptyTag'}}</li>
    {{/each}}
  </ul>
</div>
