<form class="{{cssClass}} item flexcol" autocomplete="off">
  <header class="sheet-header flexrow">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" width="60" height="60"/>
    <div class="header-fields flexcol">
      <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'NCO.Item.NamePlaceholder'}}"/></h1>
      <div class="item-type-label zal-label">{{localize 'NCO.Item.Asset'}}</div>
    </div>
  </header>

  <section class="sheet-body flexcol">
    <div class="asset-meta flexrow">

      <div class="form-group">
        <label>{{localize 'NCO.Asset.TypeLabel'}}</label>
        <select name="system.type">
          <option value="human"       {{#if (eq system.type "human")}}selected{{/if}}>{{localize 'NCO.Asset.Type.Human'}}</option>
          <option value="technical"   {{#if (eq system.type "technical")}}selected{{/if}}>{{localize 'NCO.Asset.Type.Technical'}}</option>
          <option value="financial"   {{#if (eq system.type "financial")}}selected{{/if}}>{{localize 'NCO.Asset.Type.Financial'}}</option>
          <option value="information" {{#if (eq system.type "information")}}selected{{/if}}>{{localize 'NCO.Asset.Type.Information'}}</option>
        </select>
      </div>

      <div class="form-group">
        <label>{{localize 'NCO.Asset.Reliability'}}</label>
        <div class="reliability-track flexrow">
          {{#each (times 3) as |i|}}
          <span class="reliability-pip {{#if (lte i @root.system.reliability)}}pip-on{{/if}}">●</span>
          {{/each}}
          <input type="number" name="system.reliability" value="{{system.reliability}}" min="0" max="3" data-dtype="Number" class="reliability-input"/>
        </div>
      </div>

      <div class="form-group">
        <label>{{localize 'NCO.Asset.Burned'}}</label>
        <input type="checkbox" name="system.burned" {{#if system.burned}}checked{{/if}}/>
        {{#if system.burned}}
        <span class="burned-label">{{localize 'NCO.Asset.BurnedLabel'}}</span>
        {{/if}}
      </div>

    </div>

    <div class="form-group biography-group">
      <label>{{localize 'NCO.Tab.Description'}}</label>
      {{editor enrichedDescription target="system.description" engine="prosemirror" button=true editable=editable}}
    </div>
  </section>
</form>
